<!DOCTYPE html>
<html layout:decorate="~{dashboard}">
	<head><meta charset="UTF-8"/></head>
	<body>
	    <section class="layout-content" layout:fragment="conteudo">
	        <div class=" container row">
	        	<div th:replace="fragments/alert"></div>
	        	<h3 class="white-black">Atribuir Escala</h3>
			    <form class="col s12" th:action="@{/escala/colaborador/atribuir}" th:object="${escala}" method="POST">
			      	<div class="row">
			        	<div class="input-field col s6">
			          		<select required="true" th:field="*{colaboradorId}">
						      	<option disabled="disabled" value="">Escolha</option>
                             	<option th:each="c : ${colaboradores}"
                                	th:value="${c[1]}" th:text="${c[0]}">Colaborador</option>
						    </select>
			        	</div>
			      	    <div class="input-field col s6">
			          		<select required="true" th:field="*{escalaId}">
						      	<option disabled="disabled" value="">Escolha</option>
                             	<option th:each="e : ${escalas}"
                                	th:value="${e.id}" th:text="${e.titulo}">Escala</option>
						    </select>
			        	</div>
			      	</div>
			    	<button class="btn waves-effect waves-light blue" type="submit" name="action">Enviar
					    <i class="material-icons right">send</i>
					</button>
				</form>
			</div>
			<script>
				$(document).ready(function(){
			    	$('select').formSelect();			    	
				});
			</script>
	    </section>
	</body>
</html>		