<!DOCTYPE html>
<html layout:decorate="~{dashboard}">
	<head><meta charset="UTF-8"/></head>
	<body>
	    <section class="layout-content" layout:fragment="conteudo">
	        <div class="container row">
	        	<h3 class="white-black">Escalas</h3>
		        <table class="highlight">
	        		<thead>
			          	<tr>
			            	<th>#</th>
			              	<th>Titulo</th>
			              	<th>Início</th>
			              	<th>Fim</th>
			              	<th>Ações</th>
			          	</tr>
	        		</thead>
	
	        		<tbody>
		          		<tr th:each="e : ${escalas}">
		              		<td th:text="${e.id}">1</td>
		              		<td th:text="${e.titulo}">Título</td>
		              		<td th:text="${e.inicioEscala}">Início</td>
		              		<td th:text="${e.fimEscala}">Fim</td>
		              		<td colspan="2">
	                            <a class="waves-effect waves-light btn-small blue tooltipped" th:href="@{/escala/editar/{id} (id=${e.id})}" data-position="right" data-tooltip="Editar">
                                	<i class="material-icons">edit</i>
                            	</a>
	                        </td>
		        		</tr>
	        		</tbody>
	      		</table>
	        </div>
	    </section>
	</body>
</html>