<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<footer id="footer" class="page-footer" th:fragment="rodape">
	        <div class="container">
            	<div class="row">
              		<div class="col l6 s12">
                		<h5 class="white-text">RSA Maganer</h5>
                		<p class="grey-text text-lighten-4">Ambiente de monitoramento e controle do Time RSA - Inatel.</p>
              		</div>
            	</div>
          	</div>
          	<div class="footer-copyright">
            	<div class="container">
            		© 2020 ICC-SSIC
            		<a class="grey-text text-lighten-4 right" href="#!">gabrielmartins@inatel.br</a>
            	</div>
          	</div>
	      </footer>
	</body>
</html>